<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402440327451-6jktfv8qjmvif25n0bp1f27pt88ops02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402440327451-6jktfv8qjmvif25n0bp1f27pt88ops02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402440327451-4fi1hanh8tkhuj1nkeh4m8md6g6jrc0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1epShAMzzl7IzDdxKrjr680Ee38C0Lbw</string>
	<key>GCM_SENDER_ID</key>
	<string>402440327451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.original.hostess</string>
	<key>PROJECT_ID</key>
	<string>hostess-original</string>
	<key>STORAGE_BUCKET</key>
	<string>hostess-original.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402440327451:ios:ba68c1397adbf5fef1c3be</string>
	<key>DATABASE_URL</key>
	<string>https://hostess-original.firebaseio.com</string>
</dict>
</plist>